body{
    background: linear-gradient(180deg, black ,white,lightblue,white);
    background-repeat: no-repeat;
}
.container{
    height: 100%;
}

h1{
    text-align: center;
    color:  rgba(249, 244, 244, 0.853);
    font-size: 70px;
}

footer{
    align-self: bottom;
    text-align: right;
}

.d-block{
    width: 600px;
    padding: 5%;
}
.form-group{
    padding: 5px;
    color: rgb(88, 111, 238);
    font-size: 30px;
    font-family:sans-serif ;
}
.form-control{
    color: rgb(87, 23, 147);
}